*{
    margin: 0;
    padding: 0;
    /* z-index: 99; */
}

.lobby{
    position: relative;
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby h1{
    position: relative;
    width: 100%;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
    font-style: normal;
    font-family: inherit;
}
.lobby h2{
    position: relative;
    width: 100%;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    font-style: normal;
    font-family: inherit;
}

.lobby .doubtform{
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.lobby .doubtform .join{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.lobby .doubtform img{
    width: 50%;
    height: 80%;
    margin-right: 1%;
}

.lobby .doubtform .join div{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border: 3px solid #00b392;
    /* background-color: #00b39229; */
    color: ghostwhite;
    border-radius: 20px;
    padding: 1%;
}

.lobby .doubtform .join div h3{
    position: relative;
    width: max-content;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2vw;
    margin-top: 2%;
    font-style: normal;
    font-family: inherit;
    color:rgba(20, 20, 20, 0.778)
}

.lobby .doubtform .join div input{
    position: relative;
    width: 80%;
    height: 8%;
    border: none;
    border-radius: 20px;
    /* background-color: #00b3925e; */
    background-color: rgba(206, 204, 204, 0.507);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1vw;
    font-style: normal;
    font-family: inherit;
    padding-left: 2%;
}
.lobby .doubtform .join div input:onclick{
    border: none;
}

.lobby .doubtform .join div button{
    position: relative;
    width: 40%;
    height: 8%;
    border: none;
    border-radius: 20px;
    background-color: #ee4962;
    background-color: #00b392;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1vw;
    font-style: normal;
    z-index: 100;
    font-family: inherit;
}

.lobby .doubtform .join div button i {
    font-weight: 500;
    font-size: 1.2vw;
    margin-left: 3%;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

.lobby .doubtform .join div .subjects{
    position: relative;
    width: 100%;
    height: 50%;
    /* background-color: antiquewhite; */
    border: none;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
}

.lobby .doubtform .join div .subjects h3{
    position: relative;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
    padding: 0.5% 2% 0.5% 2%;
}

.lobby .doubtform .join div .subjects h3:nth-child(1n){
    background-color: #ee49621b;
    color: #ee4962;
}
.lobby .doubtform .join div .subjects h3:nth-child(2n){
    background-color: #4461e41a;
    color: #4461e4f3;
}
.lobby .doubtform .join div .subjects h3:nth-child(3n){
    background-color: #f8b72017;
    color: #f8b720e8;
}
.lobby .doubtform .join div .subjects h3:nth-child(4n){
    background-color: #1ab79d14;
    color: #009087;
}
