*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #171717;
}

body{
  width: 100%;
  font-family: "Poppins", sans-serif;
  /* background-color: antiquewhite; */
}


/* NavBar Code  */

.nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  /* background-color: #fff; */
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgb(39, 38, 38); */
  box-shadow:  0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
  backdrop-filter: blur(50px);
}

.nav .nav-logo{
  position: relative;
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
  margin-left: 3%;
  gap:5%;
  /* background-color: aqua; */
}
.nav .nav-logo h3{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5vw;
  word-spacing: 2%;
}
.nav .nav-logo span{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #00b392;
}

.nav .nav-menu{
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.nav .nav-menu h4 .Link{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-style: normal;
  font-size: 1vw;
  transition: all .2s;
}
.nav .nav-menu h4 a:hover{
  color:#009087;
}

.nav .nav-search{
  position: relative;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-search i{
  position: relative;
  font-size: 1.5vw;
  margin-left: 5%;
}
.nav .nav-search h4{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
  padding: 2%;
}

/* =============================================================================================================== */



.home{
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  /* background-color: aliceblue; */
}

.hero img{
  margin-top: 10px;
  position: absolute;
  width: 100%;
  background-size: cover;
}

.hero .left{
  position: relative;
  height: 80%;
  /* background-color: antiquewhite; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3%;
  align-items: center;
}

.hero .left h1{
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-weight: 700;
  margin-bottom: 2vh;
  font-size: 3.2vw;
  font-style: normal;
}
.hero .left h1 span{
  /* color: #00b392; */
  color: #ee4962;
}
.hero .left h3{
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-weight: 500;
  text-align: left;
  font-size: 1vw;
  margin-bottom: 2vh;
  font-style: normal;
}
.button2 {
  display: inline-block;
  width: 20%;
  height: 10%;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #343434;
  /* padding: 0.7em 1.7em; */
  cursor: pointer;
  font-size: 1vw;
  border-radius: 0.5em;
  background: #00b392;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}





/* =============================================== */

.hero .right{
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* background-color: #fff; */
}

.hero .right .herobgimg{
  position: absolute;
  width: 90%;
  /* height: 90%; */
  left:0;
}

.hero .right .heroimg{
  position: relative;
  width: 80%;
  border-radius: 0% 25% 0% 25%;
  /* border:2px solid #009087 ; */
  padding: 2px;
  transition: all 0.2s;
}
/* .hero .right .heroimg:hover{
  border-radius: 25% 0% 25% 0%;
} */

/* =========================================================Hero Section End=============================================== */
/* =========================================================Hero2 Section Start=============================================== */

.hero2{
  position: relative;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  /* background-color: saddlebrown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero2 h1{
  text-align: center;
  text-transform:uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5vw;
  font-style: normal;
}
.hero2 h1 span{
  color: #ee4962;
}
.hero2 h2{
  text-align: center;
  text-transform:uppercase;
  font-weight: 600;
  font-style: normal;
  color: gray;
}

.hero2 .features{
  position: relative;
  margin-top: 2vh;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: darkgray; */
  justify-content: space-evenly;
  gap:2vw;
}

.hero2 .features .feature-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  background-color: #1ab79d1b;
  border-radius: 2%;
  gap: 2%;
  width: 20%;
  height: 48vh;
  transition: all 0.5s;
}
.hero2 .features .feature-card:hover{
  transform: scale(1.1);
}
.hero2 .features .feature-card:nth-child(2){
  background-color: #ee49621b;
}
.hero2 .features .feature-card:nth-child(3){
  background-color: #4461e41a;
}
.hero2 .features .feature-card:nth-child(4){
  background-color: #f8b72017;
}
.hero2 .features .feature-card:nth-child(5){
  background-color: #4461e41a;
}
.hero2 .features .feature-card:nth-child(n+6) {
  background-color: #1ab79d1b; /* Repeat the second color */
}

.hero2 .features .feature-card:nth-child(6n+7) {
  background-color: #ee49621b;/* Repeat the third color */
}

.hero2 .features .feature-card:nth-child(6n+8) {
  background-color: #4461e41a;  /* Repeat the fourth color */
}

.hero2 .features .feature-card:nth-child(6n+9) {
  background-color: #f8b72017; /* Repeat the fifth color */
}

.hero2 .features .feature-card img{
  position: relative;
  padding: 2%;
  width: 55%;
  height: 45%;
  border-radius: 50%;
  background-size: contain;
  background-position: top;
  background-color: #1ab79d14;
  margin-top: 5%;
}
.hero2 .features .feature-card:nth-child(2) img{
  background-color: #ee49621b;
  color:#ee4962;
}
.hero2 .features .feature-card:nth-child(3) img{
  background-color: #4461e41a;
  color:#4461e4f3 ;
}
.hero2 .features .feature-card:nth-child(4) img{
  background-color: #f8b72017;
  color:#f8b720e8 ;
}
.hero2 .features .feature-card:nth-child(5) img{
  background-color: #4461e41a;
  color:#4461e4fc ;
}
.hero2 .features .feature-card h3{
  position: relative;
  width: 80%;
  text-decoration: bold;
  text-align: center;
  font-weight: 450;
  font-size: 1.2vmax;
  margin-top: 10px;
}
.hero2 .features .feature-card h4{
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 1vmax;
  margin-top: 10px;
}
.hero2 .features .feature-card h5{
  position: relative;
  width: 40%;
  height: max-content;
  text-align: center;
  font-weight: 600;
  font-size: 1vmax;
  margin-top: 10px;
  margin-bottom: 10%;
  background-color: #1ab79d14;
  color: #009087;
  
}
.hero2 .features .feature-card:nth-child(2) h5{
  background-color: #ee49621b;
  color:#ee4962;
}
.hero2 .features .feature-card:nth-child(3) h5{
  background-color: #4461e41a;
  color:#4461e4f3 ;
}
.hero2 .features .feature-card:nth-child(4) h5{
  background-color: #f8b72017;
  color:#f8b720e8 ;
}
.hero2 .features .feature-card:nth-child(5) h5{
  background-color: #4461e41a;
  color:#4461e4fc ;
}
.hero2 .features .feature-card:nth-child(n+6) h5{
  color: #009087; /* Repeat the second color */
}

.hero2 .features .feature-card:nth-child(6n+7) h5{
  color:#ee4962;/* Repeat the third color */
}

.hero2 .features .feature-card:nth-child(6n+8) h5{
  background-color: #4461e41a;
  color:#4461e4f3 ;  /* Repeat the fourth color */
}

.hero2 .features .feature-card:nth-child(6n+9) h5{
  background-color: #f8b72017;
  color: #f8b720e8 ; /* Repeat the fifth color */
}

  
.hero2 .morecourse{
  position: relative;
  margin-top: 5vh;
  width:10vmax;
  height: 3vmax;
  /* background-color:#ee4962; */
  border-radius: 5px;
  color: ivory;
  border: none;
  font-size: 1vmax;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(120deg, #FF204E, #5D0E41);
  
}






/* =====================================================Hero3 Starts Here=============================================== */

.hero3{
  position: relative;
  margin-top: 3%;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ivory;
  justify-content: space-between;
}
.hero3 .left{
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
}
.hero3 .left .bgimg{
  position: relative;
  width: 80%;
  height: 100%;
}
.hero3 .right{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero3 .right h4{
  position: relative;
  width: 60%;
  text-align: left;
  font-weight: 500;
  font-size: 1vmax;
  margin-top: 10px;
}
.hero3 .right h1{
  width: 60%;
  text-transform:capitalize;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5vw;
  /* line-height:3.5vmax; */
  font-style: normal;
}
.hero3 .right h3{
  width: 60%;
  font-weight: 450;
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 2px;
  font-size: 1.1vw;
  font-style: normal;
}
.hero3 .right h1 span{
  color: #ee4962;
}

.hero3 .right .tagline{
  position: relative;
  display: flex;
  width: 60%;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
}

.hero3 .right .tagline i{
  position: relative;
  font-size: 2vw;
  color:#00b392;
}

.hero3 .right .tagline h3{
width: 100%;
/* height: max-content; */
font-weight: 350;
margin-top: 2%;
letter-spacing: 2px;
font-size: 1vw;
font-style: normal;
}




/* ==================================================================================================================== */

.hero4{
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: antiquewhite; */
}

.hero4 h1{
  width: 60%;
  text-transform:capitalize;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5vw;
  text-align: center;
  font-style: normal;
}

.hero4 h3{
  width: 100%;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  }